<div style="position: absolute;top: 12vh;">
    <div style="height:30vh;width: 40vw; position: absolute; left:30vw">
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
            <ag-grid-angular style="width: 40vw; height: 20vh;" class="ag-theme-balham" [rowData]="model" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef">
            </ag-grid-angular>
            <button type="submit" class="btn btn-success" style="margin-top: 1vh;">Submit</button>
        </form>
    </div>
</div>