@media screen and (min-width: 601px) {
    label {
      font-size: 14px;
    }
}
@media screen and (max-width: 400px) {
    label {
      font-size: 10px;
    }
}
.dropDown,select.option{
    border: 1px solid silver;
    border-radius: 3px;
    width :100px;
}