<form (ngSubmit)="heroForm.form.valid" #heroForm="ngForm">
    <mat-grid-list cols="2" rowHeight="5vh" style="width: 50vw;">
        <mat-grid-tile class="script-menu">
            <label class="col-sm">Job Name</label></mat-grid-tile>
        <mat-grid-tile class="script-menu">
            <input class="col-sm" required type="text" [(ngModel)]="formval.jobName" name="jobName"
                (blur)="sendresponse()" [formControl]="jobname" />
            <mat-error *ngIf="jobname.hasError('required')">Enter a Valid Name {{getFlagStatus()}}</mat-error>
        </mat-grid-tile>

        <mat-grid-tile class="script-menu">
            <label class="col-sm">Enter comma seperted shift preferences</label></mat-grid-tile>
        <mat-grid-tile class="script-menu">
            <input class="col-sm" type="text" title="Enter comma separated numbers" [(ngModel)]="formval.shiftLength"
                pattern="^[1-9][0-9]?(,[1-9][0-9]?)*$" name="shiftLength" (blur)="sendresponse()"
                 [formControl]="shiftlength" />
            <mat-error *ngIf="shiftlength.hasError('pattern')">Enter comma separated numbers</mat-error>
        </mat-grid-tile>

        <mat-grid-tile class="script-menu">
            <label class="col-sm">Enter lower limit for utilization</label></mat-grid-tile>
        <mat-grid-tile class="script-menu">
            <input class="col-sm" type="number" [(ngModel)]="formval.lowerUtilization" placeholder="0.85" step="0.05"
                min="0.5" max="1.1" name="lowerUtilization" (blur)="sendresponse()" [formControl]="lowerutilization" />
            <mat-error *ngIf="lowerutilization.hasError('min') || lowerutilization.hasError('max')">Enter value in range
                (0.5-1.1) {{getFlagStatus()}}</mat-error>
        </mat-grid-tile>

        <mat-grid-tile class="script-menu">
            <label class="col-sm">Enter upper limit for utilization</label></mat-grid-tile>
        <mat-grid-tile class="script-menu">
            <input class="col-sm" type="number" [(ngModel)]="formval.upperUtilization" placeholder="1.10" step="0.05"
                min="0.8" max="1.5" name="upperUtilization" (blur)="sendresponse()" [formControl]="upperutilization" />
            <mat-error *ngIf="upperutilization.hasError('min') || upperutilization.hasError('max')">Enter value in range
                (0.8-1.5) {{getFlagStatus()}}</mat-error>
        </mat-grid-tile>

    </mat-grid-list>

    <label class="col-sm">Clinician Relationship</label>
    <br />
    <mat-grid-list cols="2" rowHeight="5vh" style="width: 50vw;">
        <mat-grid-tile class="script-menu">
            <label class="col-sm">Physician </label></mat-grid-tile>
        <mat-grid-tile class="script-menu">
            <input class="col-sm" required type="text" [(ngModel)]="formval.expression1" name="expression1"
                (blur)="sendresponse()" [formControl]="exp1" />
            <mat-error *ngIf="exp1.hasError('required')">Enter valid Expression {{getFlagStatus()}}</mat-error>
        </mat-grid-tile>

        <mat-grid-tile class="script-menu">
            <label class="col-sm">App</label></mat-grid-tile>
        <mat-grid-tile class="script-menu">
            <input class="col-sm" required type="text" [(ngModel)]="formval.expression2" name="expression2"
                (blur)="sendresponse()" [formControl]="exp2" />
            <mat-error *ngIf="exp2.hasError('required')">Enter valid Expression {{getFlagStatus()}}</mat-error>
        </mat-grid-tile>

        <mat-grid-tile class="script-menu">
            <label class="col-sm">Scribe</label></mat-grid-tile>
        <mat-grid-tile class="script-menu">
            <input class="col-sm" required type="text" [(ngModel)]="formval.expression3" name="expression3"
                (blur)="sendresponse()" [formControl]="exp3" />
            <mat-error *ngIf="exp3.hasError('required')">Enter valid Expression {{getFlagStatus()}}</mat-error>
        </mat-grid-tile>

    </mat-grid-list>

    <label>Coverage Summary</label>
    <ag-grid-angular domLayout="autoHeight" style="width: 44.1vw; height: 20vh;" class="ag-theme-balham"
        [rowData]="model" [columnDefs]="formval.columnDefs" [defaultColDef]="defaultColDef" (blur)="sendresponse()">
    </ag-grid-angular>
    <br />

    <div style="width: 30vh;" class="form-group">
        <label>Arrival Data format</label>
        <select class="form-control mt-2" required id="inputType" name="inputFormat" #input_Format
            [(ngModel)]="formval.inputFormat" (blur)="sendresponse()">
            <option value="-1">Select Input Format</option>
            <option [value]="type" *ngFor="let type of inputTypes">
                {{ type }}
            </option>
        </select>
    </div>

    <div *ngIf="formval.inputFormat == 'FTP_URL'">
        <mat-grid-list cols="2" rowHeight="5vh" style="width: 50vw;">
            <mat-grid-tile class="script-menu">
                <label class="col-sm">FTP URL</label></mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <input class="col-sm" required type="text" [(ngModel)]="formval.inputFtpUrl" id="inputFtpUrl"
                    placeholder="ftp://myname@host.dom/2Fetc" name="inputFtpUrl" (blur)="sendresponse()" [formControl]="inputftpUrl"/>
                <mat-error *ngIf="inputftpUrl.hasError('required')">Enter valid FTP URL {{getFlagStatus()}}</mat-error>
            </mat-grid-tile>

            <mat-grid-tile class="script-menu">
                <label class="col-sm">FTP Username</label></mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <input class="col-sm" required type="text" [(ngModel)]="formval.inputFtpUsername" id="inputFtpUsername"
                    placeholder="" name="inputFtpUsername" (blur)="sendresponse()" [formControl]="inputftpUsername" />
                <mat-error *ngIf="inputftpUsername.hasError('required')">Enter valid FTP Username {{getFlagStatus()}}</mat-error>
            </mat-grid-tile>

            <mat-grid-tile class="script-menu">
                <label class="col-sm">FTP Password</label></mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <input class="col-sm" required type="text" [(ngModel)]="formval.inputFtpPassword" id="inputFtpPassword"
                    placeholder="" name="inputFtpPassword" (blur)="sendresponse()" [formControl]="inputftpPassword"/><br/>
                <mat-error *ngIf="inputftpPassword.hasError('required')">Enter valid FTP Password {{getFlagStatus()}}</mat-error>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div *ngIf="formval.inputFormat == 'DATA_FILE'">
        <label for="file">Choose File</label>
        <input type="file" required id="file" #fileInput (change)="handleFileInput($event.target.files)"
            (blur)="sendFile()" [formControl]="inputfile" />
        <div *ngIf="inputfile.hasError('required')" class="error" style="color:red;">
            Choose File {{getFlagStatus()}}
        </div>
    </div>


    <div style="width: 30vh;">
        <label>Output Data format</label>
        <select class="form-control mt-2" id="outputType" name="outputFormat" #output_Format
            [(ngModel)]="formval.outputFormat" (blur)="sendresponse()">
            (change)="outputformatChanged(outputFormat.value)">
            <option value="-1">Select Output Format</option>
            <option [value]="type" *ngFor="let type of outputTypes">
                {{ type }}
            </option>
        </select>
    </div>

    <div *ngIf="formval.outputFormat == 'FTP_URL'">
        <mat-grid-list cols="2" rowHeight="5vh" style="width: 50vw;">
            <mat-grid-tile class="script-menu">
                <label class="col-sm">FTP URL</label></mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <input class="col-sm" required type="text" [(ngModel)]="formval.outputFtpUrl" id="outputFtpUrl"
                    placeholder="ftp://myname@host.dom/2Fetc" name="outputFtpUrl" (blur)="sendresponse()" [formControl]="outputftpUrl"/>
                <mat-error *ngIf="outputftpPassword.hasError('required')">Enter valid FTP Password {{getFlagStatus()}}</mat-error>
            </mat-grid-tile>

            <mat-grid-tile class="script-menu">
                <label class="col-sm">FTP Username</label></mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <input class="col-sm" required type="text" [(ngModel)]="formval.outputFtpUsername"
                    id="outputFtpUsername" placeholder="" name="outputFtpUsername" (blur)="sendresponse()" [formControl]="outputftpUsername"/>
                <mat-error *ngIf="outputftpPassword.hasError('required')">Enter valid FTP Password {{getFlagStatus()}}</mat-error>
            </mat-grid-tile>

            <mat-grid-tile class="script-menu">
                <label class="col-sm">FTP Password</label></mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <input class="col-sm" required type="text" [(ngModel)]="formval.outputFtpPassword"
                    id="outputFtpPassword" placeholder="" name="outputFtpPassword" (blur)="sendresponse()" [formControl]="outputftpPassword"/>
                <mat-error *ngIf="outputftpPassword.hasError('required')">Enter valid FTP Password {{getFlagStatus()}}</mat-error>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div *ngIf="formval.outputFormat == 'EMAIL'">
        <mat-grid-list cols="2" rowHeight="5vh" style="width: 50vw;">
            <mat-grid-tile class="script-menu">
                <label class="col-sm">Email ID</label></mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <input class="col-sm" required type="email" [(ngModel)]="formval.emailId" id="emailId" placeholder=""
                    name="emailId" (blur)="sendresponse()" [formControl]="outputemail"/>
                <mat-error *ngIf="outputemail.hasError('required') || outputemail.hasError('email')">Enter valid Email {{getFlagStatus()}}</mat-error>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <mat-grid-list cols="2" rowHeight="5vh" style="width: 50vw;">
        <mat-grid-tile class="script-menu">
            <label class="col-sm">Cron expression</label></mat-grid-tile>
        <mat-grid-tile class="script-menu">
            <input class="col-sm" type="text" required [(ngModel)]="formval.cronExpression" name="cronExpression"
                placeholder="0 0 12 ? * SAT *" (blur)="sendresponse()" [formControl]="cronexp" /><img src="assets\clock.png"
                (click)="openDialog()">
            <mat-error *ngIf="cronexp.hasError('required')">Enter Cron Expression {{getFlagStatus()}}</mat-error>
        </mat-grid-tile>
    </mat-grid-list>
</form>