<div class="jobListFilter">
    <mat-form-field>
        <input matInput (blur)="applyFilter($event.target.value)" placeholder="Search by Job Name">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="shiftLengthPreferences">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Shift Length Preferences </th>
                <td mat-cell *matCellDef="let element"> {{element.shiftLengthPreferences}} </td>
            </ng-container>

            <ng-container matColumnDef="lowerUtilizationFactor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Lower Utilization Factor </th>
                <td mat-cell *matCellDef="let element"> {{element.lowerUtilizationFactor}} </td>
            </ng-container>

            <ng-container matColumnDef="upperUtilizationFactor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Upper Utilization Factor </th>
                <td mat-cell *matCellDef="let element"> {{element.upperUtilizationFactor}} </td>
            </ng-container>

            <ng-container matColumnDef="scheduleDateTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="deleteButton">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element" (click)="deleteJob(element.id)"><img src='assets\delete_icon.png' width='22px'></td>
            </ng-container>

            <ng-container matColumnDef="editButton">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let element" (click)="redirect('job',element,element.id)"><img src='assets\edit_icon.png' width='20px'></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>

    <div style="text-align: center; margin-top: 1vw;">
        <button mat-raised-button (click)="getJobListData()">Refresh</button>
    </div>

</div>