<div class="jobListFilter">
    <mat-form-field style="width: 20%; margin-right: 5px;">
        <mat-label>Select Job Type</mat-label>
        <mat-select [(ngModel)]="isScheduled" (selectionChange)="onJobTypeChange($event)">
            <mat-option value="scheduled" >Scheduled</mat-option>
            <mat-option value="draft">Draft</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 70%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by Job Name">
    </mat-form-field>

    <div *ngIf="isScheduled === 'scheduled'" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
            </ng-container>

            <ng-container matColumnDef="cronExpression">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Next Trigger Time </th>
                <td mat-cell *matCellDef="let element"> {{element.cronExpression}} </td>
            </ng-container>

            <ng-container matColumnDef="infoButton">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element" (click)="jobListPopup(element)"><img src='assets\clock.png' width='22px'></td>
            </ng-container>

            <ng-container matColumnDef="deleteButton">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element" (click)="deleteJob(element.id)"><img src='assets\delete_icon.png' width='22px'></td>
            </ng-container>

            <ng-container matColumnDef="editButton">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let element" (click)="redirect('autorun',element)"><img src='assets\edit_icon.png' width='20px'></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsScheduled"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsScheduled;"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>

    <div *ngIf="isScheduled === 'draft'" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
            </ng-container>

            <ng-container matColumnDef="infoButton">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element" (click)="jobListPopup(element)"><img src='assets\clock.png' width='22px'></td>
            </ng-container>

            <ng-container matColumnDef="deleteButton">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element" (click)="deleteJob(element.id)"><img src='assets\delete_icon.png' width='22px'></td>
            </ng-container>

            <ng-container matColumnDef="editButton">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let element" (click)="redirect('job',element,element.id)"><img src='assets\edit_icon.png' width='20px'></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsDrafts"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDrafts;"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>

    <div style="text-align: center; margin-top: 1vw;">
        <button mat-raised-button (click)="getJobListData()">Refresh</button>
    </div>

</div>