<nav class="navbar navbar-inverse navbar-custom">
    <div class="container-fluid">
        <div class="container-header">
            <a href="#" class="navbar-brand">OSAT</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a *ngIf="loginService.isUserLoggedIn()" [routerLink]="'/mainForm'">Main Form</a></li>
                <li><a *ngIf="loginService.isUserLoggedIn() && isAdmin" [routerLink]="'/job'">Autorun</a></li>
                <li><a *ngIf="loginService.isUserLoggedIn()" [routerLink]="'/joblist'">Job List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a *ngIf="loginService.isUserLoggedIn()" [routerLink]="'/logout'">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>