<div style="position: relative
;width:96vw;margin:2vh;">
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm" ngNativeValidate>
        <mat-grid-list cols="2" rowHeight="5vh" style="width: 50vw;">
            <mat-grid-tile class="script-menu"> <label class="col-sm">Enter comma seperted shift preferences</label>
            </mat-grid-tile>
            <mat-grid-tile class="script-menu"> <input class="col-sm" required type="text" [(ngModel)]="shiftLength"
                    placeholder="12, 8, 10, 4" name="shiftLength" #name="ngModel" pattern="^[1-9][0-9]?(,[1-9][0-9]?)*$"
                    required></mat-grid-tile>
            <mat-grid-tile class="script-menu"> <label class="col-sm">Enter lower limit for utilization</label>
            </mat-grid-tile>
            <mat-grid-tile class="script-menu"><input class="col-sm" type="number" [(ngModel)]="upperUtilization"
                    name="upperUtilization" min="0.5" max="1.1" placeholder="0.85" step="0.05" required /></mat-grid-tile>
            <mat-grid-tile class="script-menu"> <label class="col-sm">Enter upper limit for utilization</label>
            </mat-grid-tile>
            <mat-grid-tile class="script-menu"> <input class="col-sm" type="number" [(ngModel)]="utilization"
                    placeholder="1.10" name="utilzation" step = "0.05" min="0.8" max="1.5"required></mat-grid-tile>
             <mat-grid-tile class="script-menu"> <label class="col-sm">Enter start time for cannot allocate</label></mat-grid-tile>
            <mat-grid-tile class="script-menu"><input class="col-sm" type="number" [(ngModel)]="from" placeholder="1" step = "1" min="1" max="23"required name="from"/></mat-grid-tile>
            <mat-grid-tile class="script-menu"> <label class="col-sm">Enter End time for cannot allocate</label></mat-grid-tile>
            <mat-grid-tile class="script-menu"><input class="col-sm" type="number" [(ngModel)]="to" placeholder="6" step = "1" min="1" max="23"required name="to"/></mat-grid-tile>
            <mat-grid-tile class="script-menu"> <label class="col-sm">Enter Number of hourwait</label></mat-grid-tile>
            <mat-grid-tile class="script-menu"><input class="col-sm" type="number" [(ngModel)]="hourwait" step = "1" min="1" max="167"required placeholder="2" name="hourwait"/></mat-grid-tile>       
        </mat-grid-list>

        <br />
        <label class="col-sm">Clinician Relationship</label>
        
        <select  (change)="onSelect($event.target.value)" >
            <option value="" hidden>Select</option>
            <option  *ngFor="let a of customerData ; let i = index"  >{{a}}
            </option>
          </select>
           <br />
          
          <div  *ngIf="selected">
          <select  (change)="onChange($event.target.value)" >
            <option value="" hidden>Select</option>
            <option  *ngFor="let a of copyData ; let i = index"  >{{a}}
            </option>
          </select>
          
          <input type="text" [(ngModel)]="text1" name="text1">
          <input type="text" value="*">
           <select  >
           <option  *ngFor="let a of selectedData ; let i = index"  >{{a}}
            </option>
          </select>
          <button type="button" (click)="onOK1()">OK</button>
          </div>
          
          <div  *ngIf="refBoolean" >
            <select  >
              <option value="" hidden>Select</option>
              <option  *ngFor="let a of refArray ; let i = index"  >{{a}}
              </option>
            </select>
            
            <input type="text" [(ngModel)]="text2" name="text2">
            <input type="text" value="*">
           
            <select  (change)="onChange1($event.target.value)">
                <option value="" hidden>Select</option>
            <option  *ngFor="let a of selectedRef ; let i = index"  >{{a}}
              </option>
            </select>
            <button type="button" (click)="onOK2()">OK</button>
            <button type="button" (click)="onadd()">ADD</button>
            <div  *ngIf="refBoolean1" >&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;  
            <input type="text" [(ngModel)]="text3" name="text3">
            <input type="text" value="*">
            <select  (change)="onChange2($event.target.value)">
            <option  *ngFor="let a of refArray1 ; let i = index"  >{{a}}
              </option>
            </select>
            <button type="button" (click)="onOK3()">OK</button>
            </div>
        </div>

        <br />
        <div style="height:30vh; position: relative;  ">
            <label>Clinician Summary</label>

            <ag-grid-angular domLayout='autoHeight' style="width: 44.1vw; height: 20vh;" class="ag-theme-balham"
                [rowData]="model" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef">
            </ag-grid-angular>

            <div style="width: 30vh;">
                <label>Arrival Data format</label>
                <select class="form-control mt-2" id="inputType" name="inputFormat" #t (change)="formatChanged(t.value)"
                    required>

                    <option [value]="type" *ngFor="let type of inputTypes"> {{ type }} </option>
                </select>
            </div>
            <div *ngIf="inputFormat == 'Provide Online'">
                <label>Hourly Data</label>
                <ag-grid-angular domLayout='autoHeight' class="ag-theme-balham" [rowData]="data"
                    [columnDefs]="transposedColumnDef" [defaultColDef]="defaultColDef">
                </ag-grid-angular>
            </div>
            <div *ngIf="inputFormat == 'File Upload'">
                <label for="file">Choose File</label>
                <input type="file" id="file" #fileInput (change)="handleFileInput($event.target.files)" required>
            </div>
            <button type="submit" class="btn btn-success" style="margin-top: 1vh;">Submit</button>


        </div>
    </form>
</div>