<app-jobform [formval]="jobDetails" (messagetosend)="createRequestBody($event)" (filetosend)="getFile($event)"></app-jobform>
<div style="position: relative; width:96vw; margin:2vh;">
    <button type="submit" class="btn btn-success" style="margin-top: 1vh;" (click)="onSubmit()">
        Submit
    </button> &nbsp;
    <button type="reset" class="btn btn-success" style="margin-top: 1vh;" (click)="onReset()">
        Reset
    </button> &nbsp;
    <button type="button" class="btn btn-success" style="margin-top: 1vh;" (click)="onSaveDraft()">
        Save as Draft
    </button>
</div>

