<div style="position: relative; width:96vw; margin:2vh;">
    <h2>&nbsp;Job Scheduler</h2>
    <form (ngSubmit)="heroForm.form.valid && onSubmit()" #heroForm="ngForm" ngNativeValidate >
        <mat-grid-list cols="2" rowHeight="5vh" style="width: 50vw;">
            <mat-grid-tile class="script-menu">
                <label class="col-sm">Job Name</label></mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <input class="col-sm" required type="text" [(ngModel)]="jobName" name="jobName"/></mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <label class="col-sm">Enter comma seperted shift preferences</label></mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <input class="col-sm" type="text" title="Enter comma separated numbers" [(ngModel)]="shiftLength" pattern="\d{1,2}(,\d{1,2}|, \d{1,2}| ,\d{1,2})*[, ]?" name="shiftLength" #name="ngModel" />
            </mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <label class="col-sm">Enter lower limit for utilization</label></mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <input class="col-sm" type="number" [(ngModel)]="lowerUtilization" placeholder="0.85" step="0.05" min="0.5" max="1.1"
                    name="lowerUtilization"/></mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <label class="col-sm">Enter upper limit for utilization</label></mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <input class="col-sm" type="number" [(ngModel)]="upperUtilization" placeholder="1.10" step = "0.05" min="0.8" max="1.5"
                    name="upperUtilization"/></mat-grid-tile>
        </mat-grid-list>

        <label>Coverage Summary</label>
        <ag-grid-angular domLayout="autoHeight" style="width: 42vw; height: 20vh;" class="ag-theme-balham" [rowData]="model" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef">
        </ag-grid-angular>
        <br />

        <div style="width: 30vh;" class="form-group">
            <label>Arrival Data format</label>
            <select class="form-control mt-2"  required id="inputType" name="inputFormat" #input_Format
               [(ngModel)]="inputFormat">
                <option value="-1" >Select Input Format</option>
                <option [value]="type" *ngFor="let type of inputTypes">
                    {{ type }}
                </option>
            </select>
        </div>

        <div *ngIf="inputFormat == 'FTP_URL'">
            <mat-grid-list cols="2" rowHeight="5vh" style="width: 50vw;">
                <mat-grid-tile class="script-menu">
                    <label class="col-sm">FTP URL</label></mat-grid-tile>
                <mat-grid-tile class="script-menu">
                    <input class="col-sm" required type="text" [(ngModel)]="inputFtpUrl" id="inputFtpUrl" placeholder="ftp://myname@host.dom/2Fetc" name="inputFtpUrl" /></mat-grid-tile>

                <mat-grid-tile class="script-menu">
                    <label class="col-sm">FTP Username</label></mat-grid-tile>
                <mat-grid-tile class="script-menu">
                    <input class="col-sm" required type="text" [(ngModel)]="inputFtpUsername" id="inputFtpUsername" placeholder="" name="inputFtpUsername" /></mat-grid-tile>

                <mat-grid-tile class="script-menu">
                    <label class="col-sm">FTP Password</label></mat-grid-tile>
                <mat-grid-tile class="script-menu">
                    <input class="col-sm" required type="text" [(ngModel)]="inputFtpPassword" id="inputFtpPassword" placeholder="" name="inputFtpPassword" /></mat-grid-tile>
            </mat-grid-list>
        </div>

        <div *ngIf="inputFormat == 'DATA_FILE'">
            <label for="file">Choose File</label>
            <input type="file" required id="file" #fileInput (change)="handleFileInput($event.target.files)" />
        </div>

        <div style="width: 30vh;">
            <label>Output Data format</label>
            <select class="form-control mt-2" id="outputType" name="outputFormat" #output_Format
               [(ngModel)]="outputFormat">
               (change)="outputformatChanged(outputFormat.value)">
                <option value="-1">Select Output Format</option>
                <option [value]="type" *ngFor="let type of outputTypes">
                    {{ type }}
                </option>
            </select>
        </div>

        <div *ngIf="outputFormat == 'FTP_URL'">
            <mat-grid-list cols="2" rowHeight="5vh" style="width: 50vw;">
                <mat-grid-tile class="script-menu">
                    <label class="col-sm">FTP URL</label></mat-grid-tile>
                <mat-grid-tile class="script-menu">
                    <input class="col-sm" required type="text" [(ngModel)]="outputFtpUrl" id="outputFtpUrl" placeholder="ftp://myname@host.dom/2Fetc" name="outputFtpUrl" /></mat-grid-tile>

                <mat-grid-tile class="script-menu">
                    <label class="col-sm">FTP Username</label></mat-grid-tile>
                <mat-grid-tile class="script-menu">
                    <input class="col-sm" required type="text" [(ngModel)]="outputFtpUsername" id="outputFtpUsername" placeholder="" name="outputFtpUsername" /></mat-grid-tile>

                <mat-grid-tile class="script-menu">
                    <label class="col-sm">FTP Password</label></mat-grid-tile>
                <mat-grid-tile class="script-menu">
                    <input class="col-sm" required type="text" [(ngModel)]="outputFtpPassword" id="outputFtpPassword" placeholder="" name="outputFtpPassword" /></mat-grid-tile>
            </mat-grid-list>
        </div>

        <div *ngIf="outputFormat == 'EMAIL'">
            <mat-grid-list cols="2" rowHeight="5vh" style="width: 50vw;">
                <mat-grid-tile class="script-menu">
                    <label class="col-sm">Email ID</label></mat-grid-tile>
                <mat-grid-tile class="script-menu">
                    <input class="col-sm" required type="email" [(ngModel)]="emailId" id="emailId" placeholder="" name="emailId" />
                </mat-grid-tile>
            </mat-grid-list>
        </div>

        <br />

        <mat-grid-list cols="2" rowHeight="5vh" style="width: 50vw;">
            <mat-grid-tile class="script-menu">
                <label class="col-sm">Cron expression</label></mat-grid-tile>
            <mat-grid-tile class="script-menu">
                <input class="col-sm" type="text" [(ngModel)]="cronExpression" name="cronExpression" placeholder="0 0 12 ? * SAT *" /></mat-grid-tile>
        </mat-grid-list>

        <button type="submit" class="btn btn-success" style="margin-top: 1vh;">
            Submit
        </button> &nbsp;
        <button type="button" class="btn btn-success" style="margin-top: 1vh;" (click)="onReset()">
            Reset
        </button> &nbsp;
        <button type="submit" class="btn btn-success" style="margin-top: 1vh;" (click)="onSaveDraft()">
            Save as Draft
        </button>
    </form>
</div>