<div style="position: absolute;top: 8vh;">
    <button style="position: absolute; float: left;" (click)="goBack()">Back</button>
    <div [hidden]="!filteredHourlyData" style=" position: absolute;width: 95vw; margin: 2.5vw;">
        <div style="height: 8vh;">
            <label>Days </label>
            <select (change)="filterDetails($event.target.value)">
                <option value="-1">--All--</option>
                <option *ngFor="let i of days" value={{i}}>
                        {{daysOfWeek[i]}}
                </option>
            </select>
        </div>
        <div id="container" style="width:100%;height: 52vh;"></div>
        <div *ngIf="filteredHourlyData" style=" position: relative;width:100%">
            <label>Coverage Summary</label>
            <ag-grid-angular domLayout='autoHeight' class="ag-theme-balham" [rowData]="filteredTransposedData" [columnDefs]="transposedColumnDef">
            </ag-grid-angular>
        </div>
        <div *ngIf="filteredShiftList" style=" position: relative;width:100%">
            <label>Shifts Summary</label>
            <ag-grid-angular style="width:100%;height:40vh;" class="ag-theme-balham" [rowData]="filteredShiftList" [columnDefs]="shiftColumnDef">
            </ag-grid-angular>
        </div>

    </div>

</div>