<div style="position: absolute;top: 8vh;width: 100vw;">
    <button style="position: absolute; float: left;" (click)="goBack()">Back</button>
    <div [hidden]="!filteredHourlyData" style=" position: absolute;width: 100%; padding: 2.5vw; top:2vh">
        <div style="height: 5vh;">
            <label>Days </label>
            <select (change)="filterDetails($event.target.value)">
                <option value="-1">--All--</option>
                <option *ngFor="let i of days" value={{i}}>
                    Day {{i+1}}
                </option>
            </select>
        </div>
        <div id="container" style="width:90%;height: 52vh;position: absolute;"></div>
        <div *ngIf="filteredHourlyData" style="top: 60vh; position: relative;width:100%">
            <label>Coverage Summary</label>
            <ag-grid-angular style="height: 40vh;" class="ag-theme-balham" [rowData]="filteredTransposedData" [columnDefs]="transposedColumnDef">
            </ag-grid-angular>
        </div>
        <div *ngIf="filteredShiftList" style="top: 60vh; position: relative;width:100%">
            <label>Shifts Summary</label>
            <ag-grid-angular style="width:100%;height:40vh;" class="ag-theme-balham" [rowData]="filteredShiftList" [columnDefs]="shiftColumnDef">
            </ag-grid-angular>
        </div>

    </div>

</div>