.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

div label {
    margin: 1vh;
}

.script-menu>::ng-deep .mat-figure {
    justify-content: flex-start;
}

.pull-right {
    float: right;
    position: relative;
}